#document {
	margin-bottom: 25px;
}

#documentText {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
}

.documentName {
	text-align: center;
}

#documentTextHolder {
	width: 585px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 0px 0px 10px 3px #ccc;
	-webkit-box-shadow: 0px 0px 10px 3px #ccc;
	box-shadow: 0px 0px 10px 3px #ccc;
}

#padDiv {
	height: 500px;
	width: 585px;
	margin-left: auto;
	margin-right: auto;
	-moz-box-shadow: 0px 0px 10px 3px #ccc;
	-webkit-box-shadow: 0px 0px 10px 3px #ccc;
	box-shadow: 0px 0px 10px 3px #ccc;
}